<div class="col-md-6 col-md-offset-3" style="height: 550px;">
  <div class="well" style="height: 100%; overflow: scroll;">
    <fieldset>
      <legend style="font-size: 1.25em;">We <i class='fa fa-heart small-red-heart'></i> feedback. Send us your suggestions!</legend>

      <%= render 'contact' %>
      
    </fieldset>
  </div>
</div>
