<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @user.name %> wants to be friends with you on Lacquer Love&Lend!</h3>

    <p>
      <a href="<%= @friend_url %>">Follow this link</a> to start discovering and sharing <%= @user.first_name %>'s lacquers as well as adding and showing off your own!
      <br>
    </p>

      Have a great day,
      <br>
      <br>
      Your Friends At <a href="http://lacquer-love-and-lend.herokuapp.com/">Lacquer Love&Lend</a>
  </body>
</html>
