<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Lacquer Love&Lend, <%= @user.first_name %>!</h1>

    <p>
      Thanks for joining. We hope you enjoy sharing the lacquers you love and discovering new ones with us! Log in <a href="<%= @signin_url %>">here</a> to start adding lacquers to your collection and finding friends to add to your network!<br>
    </p>

      Have a great day,
      <br>
      <br>
      Your Friends At <a href="http://lacquer-love-and-lend.herokuapp.com/">Lacquer Love&Lend</a>
  </body>
</html>
