<body style='background: url("nails.jpg") no-repeat center center fixed; background-size:cover;padding:5% 0;min-width:100%'>
	<div class="container">
		<div class="wrapper">
		<div style="text-align: center; text-shadow: 0.4em 0.4em 0.6em black; color: white; font-family: 'Hind', sans-serif;padding:10% 0; position:relative;">
			<h1 style="font-size: 500%;"><strong>Welcome to<br>Lacquer Love&Lend!</strong></h1>
			<h2 style="font-size: 250%; font-family: 'Homemade Apple', cursive;"><strong>Build a network.  Share and lend your polishes. Find and borrow new polishes from your friends!</strong></h2>
		

			<div style="width: 81%;margin:0 auto;position:fixed;bottom:0;font-size:150%">
			Made with <span style="color:red;">♥</span> At <a href="http://www.flatironschool.com" target="_blank" style="text-decoration:none;">The Flatiron School</a>, NYC
			</div>
		</div>
		</div>
	</div>
</body>
