<body style='background-image: url("nails.jpg"); background-size: cover; background-position: center; background-repeat: no-repeat; '>
	<div class="row", style="text-align: center;">
		<div class="col-md-12", style="text-shadow: 0.4em 0.4em 0.6em black; color: white; font-family: 'Hind', sans-serif; padding-top: 200px">
			<h1 style="font-size: 850%;"><strong>Welcome to<br>Lacquer Love&Lend!</strong></h1>
			<h2 style="font-size: 250%; font-family: 'Homemade Apple', cursive;"><strong>Make a network.  Share and lend your polishes. Find and borrow new polishes from your friends!</strong></h2>
		</div>
	</div>
</body>
