<body style='background-image: url("nails.jpg"); background-size: cover; background-position: center; background-repeat: no-repeat;'>
	<div class="row", style="text-align: center;">
		<div class="col-md-12", style="text-shadow: 0.4em 0.4em 0.6em black; color: white; font-family: 'Hind', sans-serif;">
			<h1 style="font-size: 700%;padding-top: 200px"><strong>Welcome to<br>Lacquer Love&Lend!</strong></h1>
			<h2 style="font-size: 250%; font-family: 'Homemade Apple', cursive;"><strong>Build a network.  Share and lend your polishes. Find and borrow new polishes from your friends!</strong></h2>
		</div>
	</div>
	<footer style="color:white; position:fixed; bottom:20; width:100%; text-align: center;">Made with <span style="color:red;">♥</span> At <a href="http://www.flatironschool.com" target="_blank" style="text-decoration:none;">The Flatiron School</a>, NYC  
	</footer>
</body>
