<% user.rejected_requested_transactions.each do |transaction| %>
  <% friend = User.find(transaction.owner_id) %>
  <% lacquer = Lacquer.find(transaction.user_lacquer.lacquer_id) %>
  <p class="list-group-item" style='padding-top: 15px;'>Sorry, <%= link_to friend.name, user_path(friend) %> isn't able to loan you <%= lacquer.name %> at this time.<br>
  <%= link_to "conclude this request", transaction_path(transaction, :state => 'completed'), {:method => "PATCH", :class =>"btn btn-warning btn-xs"} %>
  </p>
<% end %>
