<h1>All the Lacquer Lovers</h1>

<ul>
<% @users.each do |other_user| %>
	<% if other_user != current_user %>
	<li><%= link_to other_user.name, user_path(other_user) %></li>
	<% end %>
<% end %>
</ul>
