<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h2>Invite People to Join Your Network of Friends on Lacquer Love&Lend!</h2>

    <div class="well">
      <fieldset>
        <legend>Enter the email addresses of the friends you'd like to invite:</legend>

        <%= form_tag invite_friends_path, class:"form-horizontal" do %>

          <%= text_area_tag 'emails[]', nil, :required => true, placeholder: "jane@example.com, nancy@example.com, barbara@example.com &hellip;".html_safe, class:"form-control" %><br>
          <%= submit_tag "Invite Friends!", class:"btn btn-info" %>

        <% end %>
      </fieldset>
    </div>
  </div>
</div>
