<h1><%= @user.name %>'s Lacquers</h1>

<ul>
<% @user.lacquers.each do |lacquer| %>
	<li><%= lacquer.name %> <%= link_to 'x', user_lacquer_path(:lacquer_id => lacquer.id, :user_id => @user.id), method: 'DELETE' %></li>
<% end %>
</ul>