//= require_self

@import "font-awesome-sprockets";
@import "font-awesome";

// First import swatch variables
@import "bootswatch/cosmo/variables";

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/cosmo/bootswatch";
@import "awesome-bootstrap-checkbox";

.btn.selected {
  background-color: black;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: 'Karla', sans-serif;
}

h1 {
	font-family: 'Karla', sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.navbar-right {
  float: right;
}

td {
	font-size: 20px;
}

.brands-buttons {
  border: 1px solid #9a50bd;
  border-radius: 5px;
  padding: 5px 3px 8px 5px;
  margin: 5px;
}

.colors-buttons {
  border: 1px solid #38b800;
  border-radius: 5px;
  padding: 5px 3px 8px 5px;
  margin: 5px;
}

.finishes-buttons {
  border: 1px solid #1e7de6;
  border-radius: 5px;
  padding: 5px 3px 8px 5px;
  margin: 5px;
}

.btn.finishes,
.btn.colors,
.btn.brands   {
  background-color: #808080;
  border: #282828;
  border-radius: 2px;
}

.btn.selected {
  background-color: black;
}

