//= require_self

@import "font-awesome-sprockets";
@import "font-awesome";

// First import swatch variables
@import "bootswatch/cosmo/variables";

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/cosmo/bootswatch";
@import "awesome-bootstrap-checkbox";

.btn.selected {
  background-color: black;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: 'Karla', sans-serif;
}

h1 {
	font-family: 'Karla', sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.navbar-right {
  float: right;
}

td {
	font-size: 20px;
}

.brands-buttons {
  border: 1px solid #9a50bd;
  border-radius: 5px;
  padding: 5px 3px 5px 5px;
  width: 32%;
  margin-right: 2%;
}

.colors-buttons {
  border: 1px solid #38b800;
  border-radius: 5px;
  padding: 5px 3px 5px 5px;
  width: 32%;
  //margin-left: 15px;
}

.finishes-buttons {
  border: 1px solid #1e7de6;
  border-radius: 5px;
  padding: 5px 3px 5px 5px;
  width: 32%;
  margin-left: 2%;
}

.btn.finishes,
.btn.colors,
.btn.brands   {
  background-color: #808080;
  border: #282828;
  border-radius: 2px;
}

.btn.selected {
  background-color: black;
}

// .favorites-count {
//   position: relative;
//   text-align: center;
//   font-size: 1.25em;
//   margin: 0 50%;
//   min-height: 100%;
// }

.favorites-count.not-favorited {
  min-height: 60px;
  text-align: center;
  background-image: image-url('heart-filled-gray.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 1.25em;
  padding-top: 12px;
}

.favorites-count.favorited {
  min-height: 60px;
  text-align: center;
  background-image: image-url('heart-filled-red.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 1.25em;
  padding-top: 12px;
}

.padded_lacquer_pic {
  margin: 0 25px;
}

.chunky_image_large {
  margin-left: -100px;
}

.chunky_image_small {
  margin-left: -12px;
}

.search_result_item {
  font-size: 1.5em;
}

.grey-heart {
  color: grey;
  text-align: center;
  width: 24px;
}

.red-heart {
  color: red;
  text-align: center;
  width: 24px;
}

// .like-btn {
//   background: #d9d9d9;
//   border-radius: 3px;
//   border: 1px solid #b3b3b3;
//   width: 35px;
//   height: 35px;
//   cursor: pointer;
//   text-align: center;
// }

// .like div {
//   float: right;
//   position: relative;
// }

.likes-message {
  font-size: .75em;
  margin-left: 5px;
  padding-top: 5px;
}

.text-center {
  text-align: center;
}

.glyphicon-heart {
  padding-top: 5px;
  // display: inline;
}

.lacquer-show-favorite {
  font-size: 1.5em;
}

.brand-show-favorite {
  margin-top: 2.5px;
}

.brand-show-favorite .fa-heart-o:before {
  color: white;
}

.brand-show-favorite .fa-heart:before {
  color: white;
}

.fa-check {
  margin-top: 5px; 
  margin-right: 5px;
}
