<h1><%= @brand.name %></h1>

<% if @brand.lacquers.count > 0 %>
  <div class="row">
  <% @lacquers.each do |lacquer| %>

      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">
              <%= link_to lacquer.formatted_name, lacquer_path(lacquer.id) %>
            </div>
          </div>
          <div class="panel-body" style="text-align:center;">
          <%= picture_for(lacquer) %>
          </div>
        </div>
      </div>

  <% end %>
  </div>
<% end %>