<h1><%= @brand.name %></h1>

<% if @brand.lacquers.count > 0 %>
  <div class="row">
  <% @lacquers.each do |lacquer| %>

    <div class="col-md-3 lacquer" id="<%=lacquer.id%>">
    </div>

  <% end %>
  <%#= will_paginate @lacquers %>
  </div>
<% end %>