var lacquers = "<%= pluralize(@lacquer_count, 'lacquer') %>"

$('#messages').html("");
$('#messages').append("<div class='alert alert-dismissible alert-success'><button type='button' class='close' data-dismiss='alert'>×</button> You've successfully added "+ lacquers +" to your collection.</div>");
$('input[type="checkbox"]').attr('checked', false);

//$('.panel-title[lacquer-id="603"]').append('<i class="fa fa-check pull-right"></i>')

$('.btn').blur();