<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">We <i class='fa fa-heart small-red-heart'></i> feedback. Send us your suggestions!</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/contact' %>
      </div>
    </div>
  </div>
</div>
