<div class="footer col-lg-12">
  <div class="pull-left col-md-4">

  <%= link_to 'About', about_path %> &nbsp; |  &nbsp; 
  <%= link_to 'Contact', contact_path, class: "contact-link", style:"position: relative;" %>
    <a data-toggle="modal" data-target="#contactModal" style="display: none;" id="hidden-contact-modal-link"></a>
  </div>
  <div class="col-md-8" style="text-align: right;">
    Made with <span style="color:#ff0039; font-size: 0.80em;"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></span> at <%= image_tag 'flatiron_school_slashes_transparent_background.png', height: '15px', style:"margin-bottom: 2px;" %> <a href="http://www.flatironschool.com" target="_blank" style="color:#00add6;">The Flatiron School</a>, NYC
  </div>
</div>
