<div class="footer">
  <div class="pull-left">
  <%= link_to 'About', about_path %> &nbsp; |  &nbsp; <%= link_to 'Contact', contact_path, class: "contact-link" %>
    <a data-toggle="modal" data-target="#contactModal" style="display: none;" id="hidden-contact-modal-link"></a>
  </div>
  <div class="pull-right">
    Made with <span style="color:red;">♥</span> at <a href="http://www.flatironschool.com" target="_blank" style="text-decoration:none;">The Flatiron School</a>, NYC
  </div>
</div>
