<!-- Modal -->
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Invite People to Join Your Network of Friends on Lacquer Love&Lend!</h4>
      </div>
      <div class="modal-body">
        <%= render 'users/new_invite' %>
      </div>
    </div>
  </div>
</div>
