<%= form_tag '/search', method: "get", :class => 'navbar-form navbar-left', :role => 'search' do %>
  <div class='form-group'>
  <%= text_field_tag(:search_term, nil, placeholder: 'find lacquers by name', :class => 'form-control') %>
  </div>
  <%= submit_tag "Search", class: 'btn btn-default' %>
<% end %>

